/* li {
    list-style: none;
    width: 160px;
    background-color: rgba(196, 196, 196, 0.1);
   
    border: 1px solid rgb(219, 237, 241);
    text-align: center;
} */
body {
   background-color: #f8f8bc;
}
li img {
    width: 100px;
}

  li {
    list-style: none;
    width: 160px;
    background-color: rgba(106, 191, 201, 0.1);
    border: 1px solid rgb(219, 237, 241);
    text-align: center;
    border-radius: 20px;
}
#h2 {
    position: relative;
    top: 100px;
    left: 400px;
}
.class1 {
    position: absolute;
    top: 100px;
    left: 400px;
    width: 250px;
    height: 250px;
    margin-top: 30px;
    text-align: center;
    border-radius: 50%;
    
}
.class1 img{
    width: 150px;
    margin-top: 50px;
}
.main {
  margin-top: 140px;
  margin-left: 20px;
}
.you {
    position: absolute;
    top: 400px;
    left: 400px;
}
.comp {
    position: absolute;
    top: 400px;
    left: 800px;
}
.result {
    position: absolute;
    top: 10px;
    left: 490px;
    font-size: 40px;
    font-family:Arial, Helvetica, sans-serif;
}
.com {
    margin-top: -250px;
  
    height: 100px;
    padding: 70px;
    width: 200px;
    position: absolute;
    top: -70px;
   
    width: 120px;
    height: 120px;
    margin-top: -220px;
    text-align: center;
    border-radius: 50%;
}
.com img {
    width: 150px;
   
}
/* .questions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 100px;
    left: 400px;
}
.pct {
    /* position: absolute;
    top: 100px;
    left: 400px; */
    /* width: 250px;
    height: 250px;
    margin-top: 30px;
    text-align: center;
    margin-right: 100px;
   
} */ 